.EditProfile-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
}

/* SECTION-1 */
.EditProfile-personal-Container {
  width: 1400px;
  height: auto;
  border-radius: 10px;
  background: white;
}
.Personal-Information {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.Banner {
  width: 1400px;
  height: 52vh;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  position: relative;
}

.Banner .slick-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Banner .slick-slider .slick-list {
  height: 100%;
}

.Banner .slick-slider .slick-slide {
  height: 100%;
}

.Banner .slick-slider .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Banner .slick-slider .slick-dots {
  bottom: 20px;
}

.Banner .slick-slider .slick-dots li button:before {
  display: white;
}

.Banner .slick-slider .slick-dots li.slick-active button:before {
  color: white;
}

.Profile-Image {
  display: flex;
  /* justify-content: center; */
  /* align-items: center;*/
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.Profile-Image img {
  margin-top: -100px;
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

.hover-icon {
  position: absolute;
  margin-top: -85px;
  margin-left: -190px;
  opacity: 0;
  padding: 80px;
  border-radius: 10%;
}
.hover-icon:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.29);
  color: #fff;
}
.EditProfile-Headings{
  background: linear-gradient(35deg, #656fff 0%, #ff6824 40%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 18px;
}
.Personal-Details {
  padding: 20px;
  
}
.review-container {
  margin-left: 50px;
  margin-top: 20px;
}
.language-display {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.single-language {
  background: var(--light-transparent);
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
}

/* POPUP CONTAINERS */
.popup-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.288);
  z-index: 1000 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup-content {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: auto;
  overflow-y: scroll;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.Inputs-Container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.Input_Wrapper {
  display: flex;
  flex-direction: column;
}
.Input_Fields {
  display: flex;
}

.Input-Label {
  font-size: 14px;
  font-weight: 600;
}
.Input_Fields input {
  width: 270px;
  font-size: 12px;
}

.otp_Button {
  width: 30%;
  padding: 5px;
  background-color: var(--button);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
}

.Work-exp,
.Ed-details,
.Location-details {
  margin-bottom: 20px;
}

.exp-container,
.edu-container {
  flex-direction: column;
}
.edu-container,
.personal-container,
.upload-files-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.listedTeam {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.singleMember {
  background: var(-light-transparent);
  padding: 5px !important;
  display: flex;
  font-size: 12px;
  align-items: center;
  gap: 5px;
  position: relative;
  border-radius: 10px;
  margin: 2px 0px !important;
}

.deleteMember {
  position: absolute;
  top: -3px;
  right: -2px;
  cursor: pointer;
  font-size: 10px !important;
  background: rgba(255, 0, 0, 0.662);
  color: white;
  border-radius: 50%;
  transition: all 0.5s;
}
.deleteMember:hover {
  transform: scaleX(1.3);
}
.add-button {
  width: 300px !important;
  padding: 8px;
  margin-bottom: 20px;
}
.close-icon {
  /* display: flex;
  justify-content: right; */
  color: gray;
}

/* SECTION-2 */
.EditProfile-About-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: auto;
  border-radius: 10px;
  background: white;
}
.About {
  padding: 20px;
  text-align: justify;
}
.studies {
  transition: all ease 0.3s;
  cursor: pointer;
}
.studies:hover {
  background: rgb(245, 240, 240);
}
.fa-pen,
.fa-plus {
  font-size: 14px;
  color: grey;
}
.fa-pen:hover,
.fa-plus:hover {
  transform: scale(1.2);
  color: black;
}
.skills-Container {
  border: 0.7px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

/* SECTION-3 */
.EditProfile-Experience-Container,
.EditProfile-Education-Container,
.EditProfile-UploadFiles-Container,.EditProfile-comments-Container {
  width: 1400px;
  height: auto;
  border-radius: 10px;
  background: white
}

.EditProfile-UploadFiles-Container{
  margin-bottom: 10px;
}
.company,
.college {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.designation {
  font-size: 14px;
}
.grade {
  margin-left: 20px;
  font-size: 14px;
}
.timeline {
  font-size: 12px;
}

.designation,
.timeline {
  margin-left: 20px;
}
.Exp_Input_Fields,
.Ed_Input_Fields {
  display: flex;
  width: 300px;
}

.name {
  width: 70% !important;
  height: 2px !important;
  border: 1px solid grey;
}

.Ed_Input_Fields input,
select,
.Exp_Input_Fields input,
select {
  width: 300px !important;
  font-size: 12px;
}

.resume {
  border: 1px dashed grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 180px;
  color: gray;
}
.resume:hover {
  color: #0b57d0;
}
.fileName {
  white-space: wrap !important;
  margin-left: 3px;
  font-size: 12px;
  width: 100px;
  word-break: break-all;
}

.delete {
  padding: 10px;
  border-radius: 10px;
  color: red;
  transition: all 0.3s ease;
}
.delete:hover {
  transform: scale(1.2);
}
.editErrors {
  border-bottom: 2px solid red;
}
.editSuccess {
  border-bottom: 2px solid green;
}
 input, select, textarea {
    border: none;
    border-bottom: 1px solid black;
    padding: 8px 0px !important;
    width: 100%;
  }

  .popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .reviewContainer {
    font-size: 12px;
  }
  .reviewContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .reviewContainer {
    margin-top: 10px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .Rating-heading{
    background: linear-gradient(90deg, #e800fe 3.31%, #191fff 76.1%);
    -webkit-background-clip: text;
    color: transparent; 
    font-size: 18px;
}
.sendIcon {
  cursor: pointer;
  font-size: 13px;
  width: auto;
  height: auto;
  padding: 10px;
}
.writing-review .sendIcon {
  width: 262px !important;
  margin-right: 0px !important;
  transform: translateY(-20px) !important;
}
.sendIcon {
  margin-top: 0px;
  margin-right: 50px;
  width: 50px !important;
}
.mobilenote{
  background: rgb(185, 65, 65);
  color: white;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  position: sticky;
  top: 60px;
  z-index: 1000;
}

.postContainer{
  padding: 10px;
  background: white;
  width: 1380px;
  margin: auto;
}
.postTypeContainer{
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: none ;
}

.createPostHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; background: lightgray; font-size: 18px;
}

.subMenu{
  position: absolute;
  width: 160px;
  right: 100%;
  display: none;
  height: auto;
  background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

.wholePostWrapper{
  display: flex;
  gap: 10px
}
.rightPostWrapper{
  flex: 1;
}
.subMenu div{
  padding: 5px;
}
.subMenu.show{
  display: block;
}
.subMenu div:hover{
  background: lightgray;
}

.userTags{
  display: none;

}
.userTags.show{
  display: block;
  position: absolute;
  right: 0;
  bottom: 0%;
}
.postTypeSelector{
 width: 97%; margin-left: -2px; display: flex; justify-content: space-between; padding: 10px; cursor: pointer; background: lightgray 
}

.postTypeContainer.show{
 display: flex; 
 flex-direction: column
}
.createPostPitchContainer.show{
 display: flex; 
 flex-direction: column
}
.individualPostTypes{
 padding: 5px;
}
.individualPostTypes:hover{
  background: rgb(204, 201, 201);
 cursor: pointer;
}
.followersContainer{
 display: flex;
 gap: 2px;
 flex-direction: column;
}
.individualFollower{
  display: flex;
 align-items: center;
 gap: 10px;
 padding: 10px;
 cursor: pointer;
}
.individualFollower:hover{
  background: lightgray;
}
.individualFollower img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.postCardContainer{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}
.postImageContainer{
  width: 250px;
  height: 250px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}
.postImageDetailsContainer{
  width: 400px;
  height: 400px;

}
.postImageContainerLayer{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-weight: 600;
  left: 0;
  background: rgba(156, 148, 148, 0.516);
  border-radius: 10px;
  transition: all ease 0.2s;
}

.postImageContainer img, .postImageDetailsContainer img{
  width: 100%;
  height: 100%;
  margin-left: 0px;
  object-fit: cover;
}

.postcommentsContainerr {
  width: 50%;
  background: white;
  margin-top: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}
@media (max-width: 768px) {
  .EditProfile-personal-Container,
  .Banner,
  .EditProfile-About-Section,
  .EditProfile-Experience-Container,
  .EditProfile-Education-Container,
.EditProfile-UploadFiles-Container,.EditProfile-comments-Container{
    width: 360px;
  }

  .Profile-Image img {
    margin-top: -250px;
    width: 150px;
    height: 150px;
    border-radius: 10%;
  }
  .Personal-Details div:first-child {
    font-size: 16px !important;
  }
  .Personal-Details div:not(:first-child) {
    font-size: 12px !important;
  }
  .review-container {
    margin-left: 100px;
    margin-bottom: 10px;
  }
  .personal-rating-container{
    flex-direction: column;
    
  }

  .Banner {
    width: 98%;
    height: 30vh;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    position: relative;
  }

  .Banner .slick-slider .slick-dots li button:before {
    margin-top: -80px;
  }
  .Input_Fields input {
    width: 270px !important;
    font-size: 12px;
  }
  .editErrors {
  }
  .add-button {
    margin-bottom: 20px;
  }

  .Banner .slick-slider .slick-dots li.slick-active button:before {
    margin-top: -80px;
  }
  .resume {
    width: 280px;
  }

  .popup-content {
    overflow-x: hidden !important;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
    width: 330px;
    height: 100vh;
  }
 
  .bioText {
    width: 320px;
  }
 
  .close-icon {
    margin-right: 0px;
  }
}
