.tabs-and-investment-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  gap: 240px;
  flex-wrap: wrap;
  /* margin-bottom: 100px; */
}

.tabs-container {
  display: flex;
  max-width:fit-content;
  gap: 30px;
  border-radius: 12px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.Ttab {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
  color: #4b5563;
}

.Ttab.Tactive {
  background-color: #E3E5FD;
  color: #4f55c7;
  border-radius: 20px;
}

.Ttab:not(.Tactive):hover {
  background-color: #f3f4f6;
  border-radius: 20px;
}

.content-container {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 14px;
  color: #333;
}

.investment-range-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  padding: 10px  20px 10px 20px;
  justify-self: flex-end;
}

.investment-range-icon {
  font-size: 24px;
  color: #4E54C6;
  background-color: var(--tag-bg);
  border-radius: 50%;
  padding: 5px 10px;
}

.investment-range-text {
  display: flex;
  flex-direction: column;
}

.investment-label {
  font-size: 16px;
  color: #555;
  font-weight: bold;
  margin-bottom: 8px;

}

.investment-value {
  font-size: 12px;
  font-weight: 500;
  color: #333;
}
