html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.login-bg-wrapper {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    117.74deg,
    rgba(155, 248, 244, 1) 0%,
    rgba(138, 201, 245, 1) 60.52%,
    rgba(111, 123, 247, 1) 100%
  );
}
