.addPitchHeader {
  /* padding: 5px; */
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  top: -20px;
  padding: 40px 0;
  background-color: #fff;
  font-size: 14px;
  white-space: noWrap;
  /* flex-wrap: wrap; */
  overflow-x: scroll;
  overflow-y: hidden;
}
.addPitchHeader::-webkit-scrollbar-thumb {
      background-color: #666; /* Set the color of the scrollbar thumb */
      border-radius: 4px; /* Set the border radius of the scrollbar thumb */
      display: none;
    }


.referSelect {
  display: flex;
  align-items: center;
  gap: 10px;
}
.referSelect select {
  margin-left: 60px;
}
.addPitchIcons {
  cursor: pointer;
  background-color: #fff;
  /* width: 100%; */
  flex: 1;
  padding: 10px;
  text-align: center;
}

.addPitchIcons.addPitchIconsselected {
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  transition: all ease 0.3s;
}
.addPitchIcons:not(.addPitchIconsselected):hover {
  background: var(--tab-hover);

  /* color: #fff; */
}
.pitchForm {
  display: flex;
  gap: 10px;
}
.pitchformFields {
  flex-basis: 45%;
}
.pitchForm input,
.pitchForm textarea {
  width: 95%;
}
.pitchForm label {
  white-space: noWrap !important;
}
.pitchForm select {
  width: 100%;
}

.addTeamMembers .teamInputs {
  display: flex;
  column-gap: 50px !important;
  align-items: center;
  width: 100%;
}

@media (max-width: 768px) {
  .addPitchIcons {
    cursor: pointer;
    background-color: #fff;
    flex-basis: auto !important;
  }
  .pitchForm {
    width: 280px;
  }
  .pitchForm label {
    font-size: 12px;
    max-width: 220px !important;
    white-space: wrap !important;
  }
  .pitchForm input {
    width: 240px !important;
  }
  .pitchForm select {
    width: 270px !important;
  }
  .pitchForm textarea {
    width: 250px;
  }
  .addTeamMembers {
    width: 250px;
    border: none;
  }
  .addTeamMembers input {
    width: 220px !important;
  }
  .singleMember {
    padding: 3px !important;
    font-size: 12px;
  }
  .tags input {
    width: 180px !important;
  }
  .showHide select {
    width: 250px !important;
  }
  .crossIcon{
    position: sticky;
   
    transform: translateY(-20px);
    right: 0;
  }
  .referSelect select {
    width: 230px !important;
  }
  .referSelect select {
    margin-left: 0px;
  }
}
